.vscode/**
.vscode-test/**
**/.vscode-test.*

.gitignore

.yarnrc

.prettierignore

**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts

test/**
resources/icons-src/**
resources/**/*.svg
src/**
src/test/**
out/test/**
**/*.vsix

docs/**
